<html>

  <head>
    <link rel="stylesheet" type="text/css" href="../../html/course.css" media="screen,projection" />
    <title>Occurrence statistics: read mapping, peak calling, functional enrichment</title>
  </head>

  <body>

    <h1>Occurrence statistics: read mapping, peak calling, functional enrichment</h1>

    <p>
      <b>Author:</b> Jacques van Helden
      <br><b>Date</b>: 2014-11-02
    </p>


  <h2>Introduction</h2>

    <p>In this practical, we will analyse different data types that
      would <i>a priori</i> seem to address unrelated questions, but
      share a common feature: all of these problems can be treated
      statistics on the number of occurrences of some biological
      features.</p>

    <p>
      <ol>
	<li><a href="#read_mapping"><b>Read mapping</b></a>: number of
	  matches expected by chance when mapping a library of raw reads
	  against a genome, with a given number of accepted
	  mismatches.</li>

	<li><a href="#peak_calling"><b>Peak calling</b></a>:
	  significance of the number of reads found in a given genomic
	  window, as compared to the random expectation estimated from
	  the genomic input.
	</li>

	<li><a href="#functional_enrichment"><b>Functional
	  enrichment</b></a>: compute the significance of the
	  association between a set of genes (for example the genes
	  linked to a set of ChIP-seq peaks) with a catalogue of
	  functional classes (e.g. biological processes from the Gene
	  Ontology).</li>
      </ol>
    </p>

    <p>These applications wil lead us to use some classical discrete
      distributions of
      probabilities: <span class="concept">hypergeometric</span>, <span class="concept">binomial</span>, <span class="concept">Poisson</span>. For
      each problem, we will have to choose the most appropriate
      distribution, and to justify our choice. We will also explore
      the relationship between these three distributions, and see
      that <i>under some circumstances</i>, one of them can be used as
      a reasonable approximation of another one.</p>

    <h2>Report format</h2>

    <p>We expect the report in the form of an <a target="_blank"
      href="http://rmarkdown.rstudio.com/">R markdown</a> document +
      the corresponding pdf file.</p>

    <p>R markdown allows to generate user-readable documents including
      <ul>
	<li>Structured text (headings, lists)</li>
	<li>Inserted sections of R code</li>
	<li>Results of running this R code</li>
	<li>Figures generated by this R code</li>
      </ul>

    <p>They can easily be generated (and exported to pdf) with the
      program <a target="_blank"
      href="http://www.rstudio.com/">Rstudio</a>.</p>

    <hr><a name="read_mapping"></a>
    <h2>Read mapping</h2>

    <p>We will compute the expected number of random matches when
      mapping a library of <i>N</i> reads of length <i>k</i> onto a
      genome of size </i>G</i>, as a function of the number of
      accepted mismatches <i>m</i>. For the sake of simplicity, we
      will assume that this genome is composed of identically and
      independently distributed (<span class="concept">i.i.d.</span>)
      nucleotides.</p>

<p><a href="../chip-seq_read_mapping/read_mapping_statistics.html">Exercises on read mapping</a></p>

<hr><a name="peak_calling"></a>
<h2>Peak calling</h2>

<p>After read mapping, we computed the number of reads per window of a
  fixed width <i>L</i> over the whole genome, for a given ChIP-seq
  sample. We also computed the number of reads per window for an control
  sample (<span class="concept">genomic input</span>). In order to
  detect peaks, we need to estimate the significance of the number of
  reads found in each window. </p>

<p><a href="../chip-seq_peak_calling/peak_calling_statistics.html">Exercises on peak calling</a></p>


<hr><a name="functional_enrichment"></a>
<h2>Functional enrichment</h2>

<p>After peak-calling, we can map the peaks to the closest genes, and  compare the list of genes to a wide diversity of functional catalogues (biological processes, metabolic pathways, diseases, ...). We then need to assess the significance of the intersection between the peak-associated genes and the genes belonging to each functional class.</p>

<p><a href="../go_statistics_td/go_statistics_td.html">Exercises on enrichment for functional classes (GO)</a></p>


<hr>

